/* My Awesome Styles */



/* Doodle Stage */
#stage {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRu6m82MmIh_AfvpI45uXP2wghVN4HApue3rdo0R1TFSpHz_AWb);
  height: 350px;
  width: 650px;
  overflow:hidden;
}

.image {
  position: relative;
}

#star {
  height: 350px;
  width: 650px;
}

#walle {
  height: 260px;
  top: 110px;
  left: 230px;
}

#eve {
  height: 250px;
  top: -75px;
  left: -200px;
}

#googlelogo {
  height: 475px;
  top: -320px;
  left: 150px;
}


#heart {
  height: 125px;
  top: -40px;
  left: -175px;
}