/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  background: url();
  height: 350px;
  width: 650px;
  overflow:hidden;
}

.image {
  position: relative;
}
#walle {
  height: 260px;
  top: 110px;
  left: 230px;
}

#eve {
  height: 200px;
  top: -75px;
  left: -200px;
}

#googlelogo {
  height: 475px;
  top: -310px;
  left: 150px;
}

#spaceship {
  height: 200px;
  top: -75px;
}
